.front {
  text-align: center;
  font-size: 60px;
  color: white;
  background-color: #191970;
}

.card {
  font-family: YuGothic Arial;
  font-size: 20px;
  color: #191970;
  background-color: #fffafa;
}

#answer {
  border: 3px solid #701919;
}

hr {
  border: 0.5px solid #707019;
}

.image {
  font-size: 10px;
}
